# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# SQLite database
*.sqlite3

# Environment variables
.env

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
.DS_Store
